---
http_interactions:
- request:
    method: get
    uri: http://data.gov.uk/api/2/rest/package/cambridgeshire-county-council-management-band-pay-scales
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App:
      - ckan
      X-Varnish-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: "{\"license_title\": \"UK Open Government Licence (OGL)\", \"maintainer\":
        null, \"private\": false, \"maintainer_email\": null, \"id\": \"4820b7ee-e960-4d65-9bbd-bf05fdd5dd26\",
        \"metadata_created\": \"2014-09-11T08:45:05.302023\", \"relationships\": [],
        \"license\": \"UK Open Government Licence (OGL)\", \"metadata_modified\":
        \"2014-09-11T08:45:05.313103\", \"author\": null, \"author_email\": null,
        \"state\": \"active\", \"version\": null, \"creator_user_id\": \"edec0bc8-46b1-4266-94e0-77257e6ee87e\",
        \"type\": \"dataset\", \"resources\": [{\"resource_group_id\": \"dd82640b-e02d-4921-9258-fb711bc5153c\",
        \"cache_last_updated\": null, \"package_id\": \"4820b7ee-e960-4d65-9bbd-bf05fdd5dd26\",
        \"webstore_last_updated\": null, \"id\": \"ae142d42-3456-4132-996b-df5c99bbf836\",
        \"size\": null, \"last_modified\": null, \"hash\": \"\", \"description\":
        \"Cambridgeshire County Council Management Band pay scales 2014\", \"format\":
        \"CSV\", \"mimetype_inner\": null, \"url_type\": null, \"date\": \"2014-04-01\",
        \"mimetype\": null, \"cache_url\": null, \"name\": null, \"created\": \"2014-09-11T09:45:05.351967\",
        \"url\": \"http://www.cambridgeshire.gov.uk/download/downloads/id/3110/management_band_payscales.csv\",
        \"webstore_url\": null, \"position\": 0, \"resource_type\": \"file\"}], \"num_resources\":
        1, \"tags\": [], \"groups\": [], \"license_id\": \"uk-ogl\", \"num_tags\":
        0, \"organization\": {\"description\": \"\", \"title\": \"Cambridgeshire County
        Council\", \"created\": \"2012-06-27T14:49:31.613796\", \"approval_status\":
        \"pending\", \"revision_timestamp\": \"2014-07-22T11:35:00.168201\", \"is_organization\":
        true, \"state\": \"active\", \"image_url\": \"\", \"revision_id\": \"85796520-5663-4477-b49a-b4d4c3514ce7\",
        \"type\": \"organization\", \"id\": \"d0149ce5-e526-4c09-8230-c8cc6a687f6a\",
        \"name\": \"cambridgeshire-county-council\"}, \"name\": \"cambridgeshire-county-council-management-band-pay-scales\",
        \"isopen\": true, \"notes_rendered\": \"<p>This dataset contains the pay scale
        for Management Band roles within Cambridgeshire County Council.\\n</p>\",
        \"url\": null, \"ckan_url\": \"http://data.gov.uk/dataset/cambridgeshire-county-council-management-band-pay-scales\",
        \"notes\": \"This dataset contains the pay scale for Management Band roles
        within Cambridgeshire County Council.\", \"owner_org\": \"d0149ce5-e526-4c09-8230-c8cc6a687f6a\",
        \"ratings_average\": null, \"extras\": {\"contact-name\": \"\", \"temporal_coverage-from\":
        \"\", \"contact-email\": \"\", \"foi-web\": \"\", \"foi-name\": \"\", \"temporal_coverage-to\":
        \"\", \"foi-email\": \"\", \"contact-phone\": \"\", \"mandate\": \"\", \"date\":
        \"01/04/2014\", \"update_frequency\": \"annual\", \"foi-phone\": \"\", \"unpublished\":
        \"false\", \"theme-primary\": \"Government\"}, \"license_url\": \"http://www.nationalarchives.gov.uk/doc/open-government-licence/version/2/\",
        \"ratings_count\": 0, \"title\": \"Cambridgeshire County Council Management
        Band pay scales\", \"revision_id\": \"2cdcc85e-1f97-4520-a453-dede54ab81e2\"}"
  recorded_at: Fri, 19 Sep 2014 13:17:13 GMT
- request:
    method: get
    uri: http://api%40example.com:<ODC_API_KEY>@open-data-certificate.dev/datasets/2590.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\"
        />\n  <title>Action Controller: Exception caught</title>\n  <style>\n    body
        { background-color: #fff; color: #333; }\n\n    body, p, ol, ul, td {\n      font-family:
        helvetica, verdana, arial, sans-serif;\n      font-size:   13px;\n      line-height:
        18px;\n    }\n\n    pre {\n      background-color: #eee;\n      padding: 10px;\n
        \     font-size: 11px;\n      white-space: pre-wrap;\n    }\n\n    a { color:
        #000; }\n    a:visited { color: #666; }\n    a:hover { color: #fff; background-color:#000;
        }\n  </style>\n</head>\n<body>\n\n<h1>\n  NoMethodError\n    in DatasetsController#show\n</h1>\n<pre>undefined
        method `completed?&#x27; for #&lt;CertificateGenerator:0x007faa99ae5448&gt;</pre>\n\n\n<p><code>Rails.root:
        <OLDPWD></code></p>\n\n<div id=\"traces\">\n    <a href=\"#\" onclick=\"document.getElementById(&#x27;Framework-Trace&#x27;).style.display=&#x27;none&#x27;;document.getElementById(&#x27;Full-Trace&#x27;).style.display=&#x27;none&#x27;;document.getElementById(&#x27;Application-Trace&#x27;).style.display=&#x27;block&#x27;;;
        return false;\">Application Trace</a> |\n    <a href=\"#\" onclick=\"document.getElementById(&#x27;Application-Trace&#x27;).style.display=&#x27;none&#x27;;document.getElementById(&#x27;Full-Trace&[...]
[...]
- request:
    method: get
    uri: http://api%40example.com:<ODC_API_KEY>@open-data-certificate.dev/datasets/2594.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"75b27b2159f74fb5b981fe8d06941ce2\""
    body:
      encoding: UTF-8
      string: "{\"success\":\"pending\",\"dataset_id\":2594,\"dataset_url\":\"<BASE_URI>/datasets/2594.json\"}"
  recorded_at: Fri, 19 Sep 2014 13:20:36 GMT
[...]
- request:
    method: get
    uri: http://api%40example.com:<ODC_API_KEY>@open-data-certificate.dev/datasets/2594.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - "\"63876b8b6dc5d3f15d01cce70e99a07e\""
    body:
      encoding: UTF-8
      string: "{\"success\":true,\"dataset_id\":2594,\"certificate_url\":\"<BASE_URI>/datasets/2594/certificates/14968\",\"published\":true,\"owner_email\":\"<ODC_USERNAME>\",\"errors\":[\"The
        question 'webpage' is mandatory\",\"The question 'thirdPartyOrigin' is mandatory\",\"The
        question 'thirdPartyOpen' is mandatory\",\"The question 'reference' is mandatory\",\"The
        question 'currentDatasetUrl' is mandatory\",\"The question 'versionsTemplateUrl'
        is mandatory\",\"The question 'crowdsourced' is mandatory\",\"The question
        'serviceType' is mandatory\",\"The question 'crowdsourcedContent' is mandatory\",\"The
        question 'claUrl' is man[...]
[...]
- request:
    method: post
    uri: http://api%40example.com:<ODC_API_KEY>@open-data-certificate.dev/datasets
    body:
      encoding: UTF-8
      string: "{\"jurisdiction\":\"gb\",\"create_user\":\"true\",\"dataset\":{\"documentationUrl\":\"http://data.gov.uk/dataset/cambridgeshire-county-council-management-band-pay-scales\"}}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"success\":\"pending\",\"dataset_id\":2598,\"dataset_url\":\"<BASE_URI>/datasets/2598.json\"}"
  recorded_at: Fri, 19 Sep 2014 13:26:24 GMT
[...]
- request:
    method: get
    uri: http://data.gov.uk/api/2/rest/package/national-coach-services
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App:
      - ckan
      X-Varnish-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: "{\"license_title\": \"UK Open Government Licence (OGL)\", \"maintainer\":
        null, \"private\": false, \"maintainer_email\": null, \"id\": \"3a3b32f3-d727-4623-aa17-daa2f39aaf92\",
        \"metadata_created\": \"2013-04-22T12:21:49.103447\", \"relationships\": [],
        \"license\": \"UK Open Government Licence (OGL)\", \"metadata_modified\":
        \"2014-09-19T10:28:57.793360\", \"author\": null, \"author_email\": null,
        \"state\": \"active\", \"version\": null, \"creator_user_id\": null, \"type\":
        \"dataset\", \"resources\": [{\"resource_group_id\": \"ed4aaf05-b678-4fb8-b7f0-7e5b16095577\",
        \"cache_last_updated\": \"2013-06-19T19:53:56.447004\", \"package_id\": \"3a3b32f3-d727-4623-aa17-daa2f39aaf92\",
        \"webstore_last_updated\": null, \"id\": \"b09c5c84-2d27-4799-a774-53a942fc10e1\",
        \"size\": \"5841113\", \"cache_filepath\": \"/mnt/shared/ckan_resource_cache/b0/b09c5c84-2d27-4799-a774-53a942fc10e1/NCSD.ZIP\",
        \"last_modified\": \"2014-05-10T04:27:12.813130\", \"hash\": \"3c09074cea882d22d5d43870da94568bce065dcc\",
        \"description\": \"Included Services Report\", \"format\": \"excel\", \"mimetype_inner\":
        null, \"url_type\": null, \"mimetype\": \"application/x-zip-compressed\",
        \"cache_url\": \"http://data.gov.uk/data/resource_cache/b0/b09c5c84-2d27-4799-a774-53a942fc10e1/NCSD.ZIP\",
  [...]
[...]
- request:
    method: get
    uri: http://data.gov.uk/api/2/rest/package/gp_earnings_and_expenses
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App:
      - ckan
      X-Varnish-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: "{\"license_title\": \"UK Open Government Licence (OGL)\", \"maintainer\":
        null, \"private\": false, \"maintainer_email\": null, \"id\": \"bf40345c-06dd-4fcf-b33c-a77c9fc56ea1\",
        \"metadata_created\": \"2011-12-11T00:10:46.736712\", \"relationships\": [],
        \"license\": \"UK Open Government Licence (OGL)\", \"metadata_modified\":
        \"2014-09-19T08:40:12.209071\", \"author\": null, \"author_email\": null,
        \"state\": \"active\", \"version\": null, \"creator_user_id\": \"ab19a913-1fd8-4ec6-9595-cb579a9fd0b2\",
        \"type\": \"dataset\", \"resources\": [{\"resource_group_id\": \"631522c1-d663-4284-93ae-446bb55ec6ed\",
        \"cache_last_updated\": \"2013-06-19T03:24:36.848430\", \"publish-date\":
        \"2008-10-15\", \"hub-id\": \"119-30503\", \"package_id\": \"bf40345c-06dd-4fcf-b33c-a77c9fc56ea1\",
        \"webstore_last_updated\": null, \"id\": \"0cfae9ae-85df-44f8-b924-893ddee3368b\",
        \"size\": \"70969\", \"cache_filepath\": \"/mnt/shared/ckan_resource_cache/0c/0cfae9ae-85df-44f8-b924-893ddee3368b/gpearnex0607\",
        \"last_modified\": \"2014-05-10T01:54:06.642991\", \"hash\": \"08b716bf220d55243aad4e275bd90ef8ef73780d\",
        \"description\": \"2006/07 Initial report\", \"format\": \"\", \"mimetype[...]
[...]
- request:
    method: get
    uri: http://data.gov.uk/feeds/custom.atom?page=4
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=utf-8
      X-App:
      - ckan
      X-Varnish-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPGZlZWQg
        eG1sbnM9Imh0dHA6[...]
